table {
  width: 90%;
  margin: 0 auto;

  td, th {
    border: 1px solid #818181;
    color: dimgray;
    text-align: center;
  }

  th {
    width: 13%;
  }

  td {
    transition: all .2s;
    font-size: 1.8rem;

    &.active {
      opacity: .5;
    }

    &.disabled {
      opacity: .3;
    }

    &:hover:not(.disabled) {
      background-color: #eee;
      color: dimgray;
      cursor: pointer;
    }

    &:hover.disabled {
      cursor: grab;
    }
  }

  .active {
    color: #d19cf6;
  }

  .selected {
    color: #9c9cf6;
    font-weight: bold;
  }
}
