<app-log-in-form *ngIf="!authorization.reg && !authorization.recovery"></app-log-in-form>
<app-reg-form *ngIf="authorization.reg"></app-reg-form>
<app-recovery *ngIf="authorization.recovery"></app-recovery>
<router-outlet *ngIf="authorization.login"></router-outlet>
