ul {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 100px);
  width: 450px;
  margin: 30px auto;
  align-items: center;

  .opacity03 {
    opacity: .3;
  }

  .donut-chart {
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;
  }

  li {
    list-style: none;

    &:hover {
      cursor: pointer;
    }

    h2 {
      font-size: 1rem;
      text-align: center;
    }

    .sum {
      display: flex;
      justify-content: center;
    }
  }

  .costs {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0 auto;
  }

  .new-cost {
    background-color: lightgray;
    opacity: .4;
    border: 2px dashed gray;
    color: black;
  }
}
