<form [formGroup]="registrationForm" *ngIf="!submitted" (ngSubmit)="onSubmit()">
  <h2>Форма регистрации</h2>
  <div class="form-group mb-2">
    <label>
      <input [class.is-invalid]="(userName.invalid && userName.touched) || nameIsTaken"
             formControlName="userName"
             type="text"
             class="form-control"
             placeholder="Введите имя"
             (blur)="checkName(registrationForm.controls.userName.value)"
             (ngModelChange)="nameIsTaken = false">
    </label>
    <div *ngIf="nameIsTaken && userName.valid">
      <small class="text-danger">Это имя занято...</small>
    </div>
    <div *ngIf="userName.invalid &&
                  userName.touched">
      <small *ngIf="userName.errors?.required" class="text-danger">
        Это поле обязателно для заполнения
      </small>
      <small *ngIf="userNameMinLength" class="text-danger">
        Имя должно быть больше 3 символов
      </small>
      <small *ngIf="userNameMaxLength" class="text-danger">
        Имя должно быть меньше 20 символов
      </small>
      <small *ngIf="forbiddenName" class="text-danger">
        {{forbiddenName.value}} - это имя использовать нельзя
      </small>
    </div>
  </div>

  <div class="form-group mb-2">
    <label>
      <input [class.is-invalid]="(email.invalid && email.touched) || emailIsTaken"
             formControlName="email"
             type="email"
             class="form-control"
             placeholder="Введите e-mail"
             (blur)="checkMail(registrationForm.controls.email.value)"
             (ngModelChange)="emailIsTaken = false">
    </label>
    <div *ngIf="emailIsTaken && email.valid">
      <small class="text-danger">Пользователь с таким e-mail уже регистрировался</small>
    </div>
    <div *ngIf="email.invalid &&
                  email.touched">
      <small *ngIf="email.errors?.required" class="text-danger">
        Это поле обязателно для заполнения
      </small>
      <small *ngIf="emailMaxLength" class="text-danger">
        Это поле должно быть меньше 40 символов
      </small>
      <small *ngIf="emailInvalid" class="text-danger">
        Введен некорректный email
      </small>
    </div>
  </div>

  <div class="form-group mb-2">
    <label>
      <input [class.is-invalid]="password.invalid && password.touched"
             formControlName="password"
             type="password"
             class="form-control"
             placeholder="Введите пароль"
             autocomplete="">
    </label>
    <div *ngIf="password.invalid &&
                  password.touched">
      <small *ngIf="password.errors?.required" class="text-danger">
        Это поле обязателно для заполнения
      </small>
      <small *ngIf="passwordMaxLength" class="text-danger">
        Пароль должен быть меньше 20 символов
      </small>
      <small *ngIf="passwordMinLength" class="text-danger">
        Пароль должен быть больше 4 символов
      </small>
    </div>
  </div>

  <div class="form-group mb-2">
    <label>
      <input [class.is-invalid]="registrationForm.errors?.misMach"
             formControlName="confirmPassword"
             type="password"
             class="form-control"
             placeholder="Повторите пароль"
             autocomplete="">
    </label>
    <div *ngIf="registrationForm.errors?.misMatch">
      <small class="text-danger">Пароль не совпадает</small>
    </div>
  </div>

  <div class="form-check mb-2">
    <label class="form-check-label">
      <input class="form-check-input" formControlName="consent" type="checkbox">
      Согласие...
    </label>
  </div>

  <button [disabled]="registrationForm.invalid || !consent.value || nameIsTaken || emailIsTaken"
          class="btn btn-primary"
          type="submit">
    Регистрация
  </button>
  <button class="btn btn-secondary" type="button" (click)="authorization.reg = false">Отмена</button>
</form>

