<div>
  <div *ngIf="nameIsTaken || emailIsTaken" class="successful-message">
    <div class="successful-message_content">
      <h2>Письмо с новым паролем отправлено на ваш e-mail</h2>
      <button class="btn btn-secondary" type="button" (click)="authorization.recovery = false">Вернуться</button>
    </div>
  </div>
  <form [formGroup]="recovery"
        (ngSubmit)="onSubmit()"
        *ngIf="!nameIsTaken && !emailIsTaken">
    <div class="form-group mb-1">
      <label>
        <input formControlName="userName"
               type="text"
               class="form-control"
               placeholder="Введите имя"
               autocomplete="username"
               (ngModelChange)="removeSpaceUserName()">
      </label>
    </div>

    <div class="mb-1">или</div>

    <div class="form-group mb-1">

      <label>
        <input formControlName="email"
               type="text"
               class="form-control mb-2"
               placeholder="Введите e-mail"
               (ngModelChange)="removeValueEmail()"
               (blur)="checkValidEmail()">
      </label>
    </div>

    <div class="mb-1" *ngIf="email.touched">
      <small *ngIf="this.recovery.controls.email.value.length > 0 && !checkValidEmail()"
             class="text-danger">
        Введен не корректный e-mail
      </small>
    </div>

    <div class="mb-1" *ngIf="submitted && responseReceived">
      <small *ngIf="!nameIsTaken && submitted  && this.recovery.controls.userName.value"
             class="text-danger">
        Пользователь с таким именем не регистрировался
      </small>
      <small *ngIf="!emailIsTaken && submitted && this.recovery.controls.email.value"
             class="text-danger">
        Пользователь с таким e-mail не регистрировался
      </small>
    </div>

    <button [disabled]="disabledSubmit()"
            class="btn btn-primary" type="submit">
      Востановить
    </button>
    <button class="btn btn-secondary" type="button" (click)="authorization.recovery = false">Отмена</button>
  </form>
</div>
