<div>
  <form [formGroup]="logInForm" *ngIf="!this.authorization.login" (ngSubmit)="onSubmit()">
    <div *ngIf="statusLogin === 'ERROR'">Пользователь с таким именем не регистрировался...</div>
    <div *ngIf="statusLogin === 'FALSE'">Не верное имя или пароль...</div>
    <div class="form-group mb-3">
      <label>
        <input formControlName="userName"
               type="text"
               class="form-control"
               placeholder="Введите имя"
               autocomplete="username"
               (ngModelChange)="removeSpaceUserName()">
      </label>
    </div>

    <div class="form-group mb-1">

      <label>
        <input formControlName="password"
               type="password"
               class="form-control"
               placeholder="Введите пароль"
               autocomplete="current-password"
               (ngModelChange)="removeSpacePassword()">
      </label>
    </div>

    <div class="link-recovery mb-2" (click)="authorization.recovery = true">Забыли пароль?</div>

    <button [disabled]="!logInForm.valid" class="btn btn-primary" type="submit">Войти</button>
    <div class="mt-2">
      <button class="btn btn-primary" type="button" (click)="authorization.reg = true">Регистрация</button>
    </div>
  </form>
</div>
